.hero {
    background: #121212;
    color: #FFFFFF;
    height: 270px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 30px;
    font-family: Poppins;
font-size: 32px;
font-weight: 600;
line-height: 48px;
text-align: center;
text-underline-position: from-font;
text-decoration-skip-ink: none;

  }
  